/* General Styling */
body {
  background-color: #eaeaea;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.ToDoList {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}

/* Title Styling */
h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Text Area Styling */
textarea {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  font-size: 1em;
  background-color: #f9f9f9;
  color: #333;
  resize: none; /* Prevents resizing */
  overflow: hidden; /* Prevents scrollbars from appearing */
}

textarea:focus {
  outline: none;
  border-color: #888;
}

/* Buttons Styling */
button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #444;
}

.add-button {
  width: 60%;
}

/* Task List Styling */
ol {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

li {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: 1.2em;
  color: #333;
  width: 60%;
  text-align: left;
}

/* Delete and Move Button Styling */
.delete-button, .move-button {
  background-color: #777;
  font-size: 0.8em;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 5px;
}

.delete-button:hover, .move-button:hover {
  background-color: #666;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px; /* Adjust the height as needed */
}


/* Responsive Design */
@media (max-width: 768px) {
  .ToDoList {
      width: 90%;
  }
}




